img{
    width: 20rem;
    height: 23rem;
}

.container{
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(25rem,
        1fr
        )
    );
    gap: 2rem;
}

p{
    margin: none;
}

li{
    list-style: none;
}

a{
    button{
      margin-top:1rem ;
       width: 100%; 
    }
}